.schedule-page-mont-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  margin-bottom: 10%;
  position: relative;
}

.schedule-page-intro-container {
  width: 100%;
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Font2", sans-serif;
}

.schedule-page-key-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 5%;
}

.key-container {
  width: fit-content;
  height: fit-content;
  padding: 5px 10px;
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: space-between;
}

.blue-circle {
  width: 20px;
  height: 20px;
}
.pink-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: pink;
}

.blue-square {
  width: 20px;
  height: 20px;
  border: 2px solid blue;
}
