.see-timeblock-main-container-phone {
  display: flex;
  width: 100%;
  height: 730px;
  justify-content: center;
  align-items: center;
}
.timeblock-display-container-phone {
  width: 100%;
  z-index: 1;
  height: 100%;
  background-color: rgb(227, 222, 222);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}

.tb-display-top-phone {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.tb-close-button-phone {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.tb-sched-container-phone {
  width: 100%;
  height: 80%;
  overflow-y: scroll;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.tb-container-phone {
  width: 90%;
  height: fit-content;
  display: flex;
  padding: 5px;
  margin-left: 4%;
  margin-top: 5%;
  border-radius: 0.5rem;
  cursor: pointer;
  align-items: center;
  opacity: 80%;
  justify-content: space-between;
  box-shadow: 5px 5px 10px rgba(100, 100, 100, 0.5),
    inset 3px 4px 2px rgba(255, 255, 255, 0.5);
}

.selected-tb-phone {
  opacity: 100%;
  background-color: rgb(78, 203, 78);
  color: white;
}

.tb-phone {
  margin-left: 2%;
}

.tb-delete-container-phone {
  width: 36%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.tb-delete-phone {
  width: 20px;
}

.tb-submit-button-phone {
  padding: 8px 20px 8px 20px;
  background-color: rgb(145, 183, 253);
  font-size: 1.5rem;
  border: 2px solid black;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 4px rgba(100, 100, 100, 0.5),
    inset 2px 2px 2px rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: all 0.7s;
}
.tb-submit-button-phone:hover {
  background-color: rgb(173, 199, 252);
}

.add-schedule-button-container-phone {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.free-phone {
  background-color: rgb(78, 203, 78);
}
