.book-now-main-container-phone {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999; /* Ensure it's on top of other content */
  visibility: hidden; /* Initially hidden */
  opacity: 0; /* Initially transparent */
  transition: visibility 0s, opacity 0.3s ease-in-out; /* Smooth transition */
}

.book-now-main-container-phone.active {
  visibility: visible; /* Make visible when active */
  opacity: 1; /* Fully opaque when active */
}

.book-now-close-container-phone {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  height: fit-content;
}
.book-now-container-phone {
  width: 100vw;
  height: 650px;
  margin-right: 10px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  z-index: 1;
}

.book-now-close-button-phone {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.error-message-phone {
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
}

.form-phone {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 87%;
  height: 90%;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  background-color: #1a1a1a;
  color: #fff;
  border: 1px solid #333;
}

.title-phone {
  font-size: 38px;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 4%;
  margin-bottom: 4%;
  padding-left: 30px;
  color: rgb(250, 196, 249);
}

.title-phone::before {
  width: 18px;
  height: 18px;
}

.title-phone::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.title-phone::before,
.title-phone::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: rgb(250, 196, 249);
}

.message-phone,
.signin-phone {
  font-size: 14.5px;
  color: rgba(255, 255, 255, 0.7);
}

.signin-phone {
  text-align: center;
}

.signin-phone a:hover {
  text-decoration: underline rgb(250, 196, 249);
}

.signin-phone a {
  color: rgb(250, 196, 249);
}

.flex-phone {
  display: flex;
  width: 100%;
  gap: 20px;
}

.form-phone label {
  position: relative;
  margin-bottom: 2%;
}

.form-phone label .input-phone {
  background-color: #333;
  color: #fff;
  width: 96%;
  padding: 20px 05px 05px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form-phone label .input-phone + span {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form-phone label .input-phone:placeholder-shown + span {
  top: 12.5px;
  font-size: 0.9em;
}

.form-phone label .input-phone:focus + span,
.form-phone label .input-phone:valid + span {
  color: rgb(250, 196, 249);
  top: 0px;
  font-size: 0.9em;
  font-weight: 600;
}

.input-phone {
  font-size: medium;
}

.submit-phone {
  border: none;
  outline: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
  transition: all 0.5s;
  transform: 0.3s ease;
  background-color: rgb(250, 196, 249);
}

.submit-phone:hover {
  background-color: rgb(220, 129, 219);
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}
