.footer-monitor-main-container {
  width: 100%;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%;
  background-color: rgb(255, 236, 252);
}

.footer-monitor-info-container {
  width: 35%;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.footer-icon-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer-socials-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icon {
  width: 40px;
  height: 40px;
}
.footer-social-icon {
  width: 40px;
  height: 40px;
}

.footer-logo {
  width: 300px;
  height: 300px;
}

.pointer {
  cursor: pointer;
}
